.App {
    padding: 20px;
}

.Board {
    width: 384px;
    height: 384px;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

.Cell {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: grey;
    border: 1px solid white;
    cursor: pointer;
}

.Open {
    background: white;
    cursor: auto;
}

.Counter,
.Controls {
    text-align: center;
    margin: 5px;
}