.App {
    padding: 20px;
}

.Board {
    width: 384px;
    height: 384px;
    padding: 10px;
    border: 2px solid black;
    margin: 0 auto;
}

.Counter,
.Controls {
    text-align: center;
    margin: 5px;
}